.carousel-item img {
    width: 100%;
    height: 30rem; /* Ajusta este valor según el tamaño deseado */
    object-fit: contain; /* Mantiene una buena proporción sin distorsionar la imagen */
    border-radius: 10px; /* Opcional: para un diseño más atractivo */
}

/* Iconos personalizados para los controles del carrusel */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.boton-carr{
    width: 15rem;
    height: 4rem;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-item img {
        width: 90%;
        height: 20rem; /* Ajusta este valor según el tamaño deseado */
        object-fit: contain; /* Mantiene una buena proporción sin distorsionar la imagen */
        border-radius: 10px; /* Opcional: para un diseño más atractivo */
    }
    .carousel-caption h2 {
        font-size: 1.5rem;
    }
    .carousel-caption p {
        font-size: 1rem; 
    }
    .boton-carr{
        width: 10rem;
        height: 4rem;
    }
}

/* Ajustes para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .carousel-caption h2 {
        font-size: 1.2rem;
    }
    .carousel-caption p {
        font-size: 0.9rem;
    }
    .boton-carr{
        width: 9rem;
        height: 4rem;
    }
}


/* Estilos para la fecha */
.noticia-fecha {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 20px;
}

/* Estilos para el título de la noticia */
.noticia-titulo {
    font-size: 2.3rem;
    font-weight: bold;
    color: #1a2530;
    margin-bottom: 15px;

}

/* Estilos para el subtítulo */
.noticia-subtitulo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #626c6d;
    margin-bottom: 20px;
}

/* Estilos para el desarrollo de la noticia */
.noticia-desarrollo {
    font-size: 1.1rem;
    color: #273644;
    line-height: 1.6;
    text-align: justify;
}

/* Estilos para el nombre del redactor */
.redactor-nombre {
    font-size: 1rem;
    font-weight: 600;
    color: #2980b9;
}

/* Estilos para la imagen del redactor */
.img-thumbnail {
    border: 2px solid #3498db;
}

/* BACK TO TOP */
#backToTop {
    border-radius: 90%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    border-color: black;
}
/* BACK TO TOP */

/* Aseguramos que el body ocupe toda la pantalla */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; /* Ajusta el padding según sea necesario */
}

footer{
    margin-top: auto;
}